body{
    background-color: #000000;
    color: #d9d9d9;
    margin: 0;  
    font-family: Helvetica;
    
}

.containerOfAll{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    
    
}
.main-header{
    
    
    width: 100%;
    display: flex;
    

    
}
.main-header h1{
    font-size: 40px;
    color: #d9d9d9;
}
.main-header button{
    width: fit-content;
    margin-top: 25px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #EDC90C;

    
}
.main-header button:hover{
    background-color: transparent;
    color: #d9d9d9;

}

.task-card{
    background-color: #282828;
    border-radius: 20px;
    padding: 20px;
    width: 360px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left:30px;
    margin-bottom: 20px;
    align-self: center;
    
}

.task-card h2{
    font-weight: bolder;
    font-size: 19px;
   
}
.task-card p{
    font-size: 14px;
}
.card-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-photo{
    height: auto;
    width: 12%;
    border-radius: 50%;
    image-rendering: optimizeQuality;
    
}
.create-card{
    background-color: #282828;
    width: 400px;
    height:160px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  
  
}
.create-card textarea{
    box-sizing: border-box;
    border-style: none;
    resize: none;
    background-color: transparent;
    color: #d9d9d9;
    outline: none;
    align-self: center;
    font-family: inherit;
    font-size: 14px;
    width: 90%;
    

}
.create-card button{
    background: none;

}
.create-card button:hover{
    background: #d9d9d9;
    padding: 0;

}
.create-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.create-card-header button{
    margin-right: 36px;
    width: 7%;
    
    
}
.create-card input{
    box-sizing: border-box;
    border-style: none;
    resize: none;
    background-color: transparent;
    color: #d9d9d9;
    outline: none;
    font-weight: bolder;
    font-size: 19px;
    width: 70%;
    margin-left: 20px;
    font-family: inherit;
    
}
.create-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 20px;
}
.create-card button{
    color: #EDC90C;
    padding: 0;
    border: none;
    background: none;
}
.task-block button{
  background-color: #C70000;
  color: white;
  margin-left: 40px;
  margin-top: 33px;
}
.task-block button:hover{
    background-color: red ;
}
.task-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.adjust-width{
    width: 39vw;
    
}
@media only screen and (max-width:850px)
{
    .create-card{
        background-color: #282828;
        width: 270px;
        height:130px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .create-card-header button{
        margin-right:28px;
    }
    .task-card{
        background-color: #282828;
        border-radius: 20px;
        padding: 20px;
        width: 240px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-left:10px;
        margin-bottom: 20px;
        align-self: center;
        
    }
    .adjust-width{
        width: 20vw;
    }
}